rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Orders collection ke liye rule
    match /orders/{orderId} = {
      // Koi bhi signed-in user order create kar sakta hai, aur read/update kar sakta hai
      allow read, write: if request.auth != null;
    }
  }
}
